 
 .rain-grid {
  
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(15, 25px); 
  gap: 0px; 
  margin-top: 50px;
  margin: 0;
  
}

.rain-cell {
  background-color: rgb(14, 11, 11);
  width: 15px;
  height: 20px;
  border: 2px solid rgba(75, 70, 70, 0.822);
  transition: background-color 0s ease-in-out;
  
  
} 

